<form>
  <md-input-container class="md-block" flex-gt-sm>
    <label>Title</label>
    <input ng-model="VM.filters.title" placeholder="Title">
  </md-input-container>

  <md-button class="md-button md-primary md-raised" ng-click="VM.search()">Search</md-button>
</form>

<md-list ng-if="VM.items.length > 0">
  <md-subheader class="md-no-sticky">Results</md-subheader>
  <md-list-item ng-repeat="item in VM.items" ng-click="VM.selectItem(item)" class="md-2-line">
    <div class="md-list-item-text">
    <h3>{{ item.title }}</h3>
    </div>
    <md-divider ng-if="!$last"></md-divider>
  </md-list-item>
</md-list>
